<section>
    <mat-toolbar  class="bg-white">
      <h3 class="">Speed Dial</h3>
      <mat-toolbar-row>
          <div class="spacer"></div>
          <div class="px-2">
              <button mat-raised-button color="primary" >
                  <mat-icon class="mat-icon-sm pt-1">group_add</mat-icon>
                  <small>Add speed dial</small>
              </button>
          </div>
          <div class="px-2">
            <button mat-raised-button color="primary" >
                <mat-icon class="mat-icon-sm pt-1">group_add</mat-icon>
                <small>New group</small>
            </button>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <div class="d-flex flex-column py-1 ">
            <small style="line-height: 10px; font-size: 12px;" class="text-mylight py-1 text-wrap-lg">Barberians on internet</small>
            <small style="line-height: 10px; font-size: 10px; " class=" text-mylight py-1 " >Suggested contacts</small>
        </div>

          <div class="spacer"></div>
          <div class="px-2">
              <button mat-icon-button>
                  <mat-icon class="text-mylight">more_vert</mat-icon>
              </button>
          </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="table-container ">
      <div class="w-100 h-100 ">
          <div class="row m-0">
              <div *ngFor="let user of speedDialContact" class="col-md-6 col-lg-4 mb-5">
                <mat-card  class="contact-card bg-white py-2">
                    <mat-card-header >
                      <img mat-card-avatar src="{{user?.thumbnail}}" alt="">
                      <mat-card-title><small>{{user?.name}}</small></mat-card-title>
                      <mat-card-subtitle>{{user?.status}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions >
                        <mat-toolbar class="bg-white">
                            <button *ngFor="let op of user.actions" mat-icon-button >
                              <mat-icon class="mat-icon-sm text-mylight pt-0">{{op?.icon}}</mat-icon>
                            </button>
                            <div class="spacer"></div>
                            <button mat-icon-button>
                                <mat-icon class="mat-icon-sm pt-0 text-mylight">more_vert</mat-icon>
                            </button>
                        </mat-toolbar>
                     
                    </mat-card-actions>
                </mat-card>
              </div>
          </div>  
    </div>
    </div>
    </section>