<!-- <app-header></app-header> -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [mode]="'side'" [opened]="true">
        <div class="primary_toolbar_option">
          
                <mat-toolbar class="px-0">
                    <div class="d-flex layout px-2">
                        <strong  >Chats</strong>
                        <mat-icon class="mat-icon-sm pt-1">expand_more</mat-icon>
                    </div>
                    <div class="spacer"></div>
                    <button mat-icon-button>
                        <mat-icon class="mat-icon-sm text-mylight pt-0">filter_alt</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon class="mat-icon-sm text-mylight pt-0">edit</mat-icon>
                    </button>
                </mat-toolbar>
            <div>
                <div class="p-3">
                    <small>recents</small>
                </div>
                <button *ngFor="let link  of recentChats"  mat-button routerLink="{{link.path}}" routerLinkActive="active" routerLinkActive #rla="routerLinkActive"  class="w-100 text-left" [class.active]="rla.isActive">
                    <div class="d-flex my-1 align-items-center">
                        <div style="width: 32px;min-width: 32px; height: 32px;border-radius: 1rem;background-color: #badb6e;" class="layout">
                            <small> SD</small>
                        </div>
                        <div class="d-flex flex-column py-1 ">
                            <small style="line-height: 10px;" class="text-link py-1 text-wrap-md">{{link.name}}</small>
                            <small style="line-height: 10px; font-size: 10px; " class=" text-mylight py-1 text-wrap-md" >you : how are you doing?buddy you are doing</small>
                        </div>
                        <small class="text-mylight">08/01</small>
                    </div>
                </button>
            </div>
            <div class="spacer">
            </div>
         
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="position:sticky;top:0;">
            <mat-toolbar-row>
                <nav mat-tab-nav-bar class="d-flex w-100 pr-2">
                    <div class="d-flex align-items-center">
                        <div style="width: 32px;min-width: 32px; height: 32px;border-radius: 1rem;background-color: #badb6e;" class="layout">
                            <small> SD</small>
                        </div>
                        <div class="d-flex flex-column py-1 px-2">
                            <strong class="py-1 text-wrap-lg">Critical discussion - Thor and Ironman</strong>
                        </div>
                        
                    </div>
                    <button mat-icon-button>
                        <mat-icon class="mat-icon-sm">cached</mat-icon>
                    </button>

                    <a mat-tab-link *ngFor="let link of links" routerLink="{{link.path}}"
                       (click)="activeLink = link.path"
                       [active]="activeLink == link.path" > 
                       <small class="text-dark" [class.active] = "activeLink == link.path">{{link.name}}</small>
                     </a>
                     <div>
                         <button mat-icon-button>
                            <mat-icon class="mat-icon-sm pt-1 text-mylight">add</mat-icon>
                        </button>
                     </div>
                     <div class="spacer"></div>
                     <div class="px-1 py-1 ">
                         <button mat-raised-button color="primary">
                            <mat-icon class="mat-icon-sm pt-1">video_call</mat-icon>
                        </button>
                     </div>
                     <div class="px-1 py-1">
                         <button mat-raised-button color="primary">
                             <mat-icon class="mat-icon-sm pt-1">call</mat-icon>
                         </button>
                     </div>
                    
                  </nav>
            </mat-toolbar-row>
        </mat-toolbar>
        <main class="p-4 " >
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
