<section class="toolbar-sm">
    <mat-toolbar class="px-0 bg-mylight">
        <mat-toolbar-row>
            <div>
                <button mat-button>
                    <mat-icon class="mat-icon-sm pt-1">close</mat-icon>
                    <small class="text-mylight">Preview</small>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</section>
<section class="" style="width:100%;height: calc(100vh - 21rem);align-self: center;align-content: center;">
    <figure class="p-2 layout  w-100 h-100">
        <img class="img-preview" src="../../../../assets/images/timeline.png" >
    </figure>
</section>
<section class="w-100 d-flex justify-content-center">
    <div class="w-75">
        <app-message-bar></app-message-bar>
    </div>
</section>
<section class="bg-white py-3">
    <nav mat-tab-nav-bar >
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/images/timeline.png">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/user_profiles/profile2.jpg">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/images/timeline.png">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/user_profiles/profile2.jpg">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/images/timeline.png">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/user_profiles/profile2.jpg">
        </figure>
        
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/user_profiles/ironman.jpeg">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/user_profiles/ironman.jpeg">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/user_profiles/thor.jpeg">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/user_profiles/profile2.jpg">
        </figure>
        <figure class="p-2">
            <img class="thumbnail-md" src="../../../../assets/user_profiles/ironman.jpeg">
        </figure>
        <div class="p-2" style="position: sticky;">
            <button mat-raised-button class="w-100 bg-mylight layout p-0 m-0">
                <div class="pt-4"  style="width:6rem ;height:6rem;display: flex;flex-direction: column;text-align: center;align-items: center;">
                    <mat-icon>add</mat-icon>
                    <small>Add File</small>
                </div>
            </button>
       </div>
    </nav>
</section>