<section #scrollMe class="pb-5" style="overflow:auto;width : calc( 100vw - 22rem);height : calc( 100vh - 15rem);position: relative; ">
 

<div *ngFor="let chat of chats" class="row m-0  justify-content-start mb-2" [class.justify-content-end]="chat.user_id == 0">
    <div class="col-6 align-self-end text-left ">
        <div class="chat-bubble " [class.bg-mylight]="chat.user_id == 0" [class.bg-mylight-3]="chat.user_id != 0">
            <small class="small" >{{(chat.message_time | date :'shortTime' ) || 'syncing...'}}</small>
            <p>{{chat.message || ''}}</p> 
        </div>
    </div>
</div>


</section>
<section style="width : calc( 100vw - 22rem);">
    <div class="w-100 text-box" >
        <mat-toolbar class="toolbar-1">
            <mat-toolbar-row class="toolbar-row-1">
                <form [formGroup]="messageForm" class="w-100" (keydown.enter)="send()">
                <mat-form-field appearance="fill" class="w-100">
                    <input matInput placeholder="Type here" formControlName="message" autocomplete="off">
                </mat-form-field>
            </form>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-toolbar class="toolbar-2">
            <mat-toolbar-row class="toolbar-row-2">

                <button mat-icon-button>
                    <mat-icon class="mat-icon-sm text-mylight pt-0">attachment</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon class=" text-mylight pt-0">gif</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon class="mat-icon-sm text-mylight pt-0">note</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon class="mat-icon-sm text-mylight pt-0">movie</mat-icon>
                </button>
                <button mat-icon-button (click)="toggled = !toggled" [(emojiPickerIf)]="toggled"
                    [emojiPickerDirection]="'right'" (emojiPickerSelect)="handleSelection($event)">
                    <mat-icon class="mat-icon-sm text-mylight pt-0">face</mat-icon>
                </button>
                <div class="spacer"></div>
                <button mat-icon-button>
                    <mat-icon class="mat-icon-sm text-mylight pt-0">mic</mat-icon>
                </button>
                <button mat-icon-button (click)="send()">
                    <mat-icon class="mat-icon-sm text-mylight pt-0">send</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

    </div>
</section>